<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<h1>
   MONGODB NODEJS EXPRESS CRUD
</h1>
<h2></h2>
<ul>
    <li><a href="/list"> /list</a></li>
</ul>

<pre>
            MongoDB Node Express Rest
</pre>

<form action="/create" method="post">
    <label>First Name</label>
    <input type="text" name="first_name">
    <br>
    <label>Last Name</label>
    <input type="text" name="last_name">
    <br>
    <label>Equipments</label>
    <input type="text" name="instruments">
    <br><br>
    <input type="submit" value="submit">

</form>
<br>





</body>
</html>
